<%- include('partials/header') %>

<div class="jumbotron text-center clr">
  <div class="container">
    <i class="fas fa-images fa-6x"></i>
    <h1 class="display-3">Explore the world!</h1>
    <p class="display-3">Click below to share your memories</p>
    <hr>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="" role="button">Upload More</a>
  </div>
</div>

<%- include('partials/footer') %>
